* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.answer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.answer {
    height: 80px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #999;
}
