/*@import url('https://fonts.googleapis.com/css2?family=Avenir+Next:wght@700&display=swap');*/

body {
    font-family: Arial, sans-serif;
}

.section {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    height: calc(var(--vh, 1vh) * 15);
    justify-content: center;
    text-align: center;
    transition: height 0.6s ease-in-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section.live {
    height: calc(var(--vh, 1vh) * 85) !important;
}

#joinSection {
    background: #ffffff;
    color: #000;
}

#hostSection {
    background: #000;
    color: #fff;
}

#openGameEditorButton,
#code-input-container {
    opacity: 0;
    transition: opacity 0.9s ease;
}

#code-input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#code-input-container.live {
    opacity: 1;
}

#openGameEditorButton.live {
    opacity: 1;
}

h1 {
    font-family: 'Avenir Next', Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code-input {
    width: 50px;
    height: 70px;
    border: 2px solid rgba(0, 123, 255, 1);
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    -webkit-appearance: none;
    appearance: textfield;
    margin: 0;
    -moz-appearance: textfield;
}

.code-input.pulsing {
    animation: pulse 1.5s infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 123, 255, 1);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.code-input:focus {
    outline: none;
    caret-color: transparent;
    /* Hide the cursor */
    animation: bounce 0.5s ease-in-out;
    /* Bounce animation on focus */
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.section-text {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 1.5rem;
    background: #000;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0;
}


.button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.sticky-top {
    position: sticky;
    top: 0;
}

.pt-30 {
    padding-top: 30px;
}

.sticky-bottom {
    position: sticky;
    top: 0;
}

.pb-30 {
    padding-bottom: 30px;
}

/* 
@media (max-width: 900px) {
    h1 {
        font-size: 2.5rem;
    }
    .button {
        font-size: 1.1rem;
        padding: 0.8rem 1.2rem;
    }
    .code-input {
        width: 38px;
        height: 54px;
        font-size: 1.3rem;
    }
    .section {
        height: 22vh;
    }
    .section.live {
        height: 60vh !important;
    }
    #code-input-container {
        gap: 0.5rem;
        margin-top: 1.2rem;
    }
} */

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    .button {
        font-size: 1.4rem;
        padding: 0.6rem 0.8rem;
    }
    .code-input {
        width: 45px;
        height: 60px;
        font-size: 1.4rem;
    }
    #code-input-container {
        gap: 0.3rem;
        margin-top: 0.7rem;
    }
    .section-text {
        padding-top: 1rem;
    }
}